<div class="row">
    <div class="col-md-12">
        <h1 class="display-8">欢迎来到九章全栈课程</h1>

        <!--<div [ngSwitch]="isAuthenticated()">-->
            <!--<div class="alert alert-success" *ngSwitchCase="true">-->
                <!--<span *ngIf="account"-->
                   <!--&gt; You are logged in as user "{{account.login}}". </span>-->
            <!--</div>-->

            <!--<div class="alert alert-warning" *ngSwitchCase="false">-->
                <!--<span>If you want to </span>-->
                <!--<a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>-->
            <!--</div>-->
            <!--<div class="alert alert-warning" *ngSwitchCase="false">-->
                <!--<span>You don't have an account yet?</span>&nbsp;-->
                <!--<a class="alert-link" routerLink="register">Register a new account</a>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div>-->
            <!--<div>Course_Name</div>-->
            <!--<div>Course_Location</div>-->
            <!--<div>Course_Content</div>-->
            <!--<div>Teacher_ID</div>-->
        <!--</div>-->
        <div *ngIf="isAuthenticated()">
            <hr>
            <span>课程查询/注册功能</span>
            <hr>
        <div><span><button (click)="getAllCourses()">显示所有课程</button> <button (click)="clearAllCourses()">折叠</button></span></div>
            <div *ngFor="let course of courses" style="padding-bottom: 2px">
                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">
                    <div style="padding-left: 5px">{{course.courseName}}</div>
                    <div>{{course.courseLocation}}</div>
                    <div>{{course.courseContent}}</div>
                    <div>{{course.teacherId}}</div>
                    <button *jhiHasAnyAuthority="'ROLE_USER'" (click)="registerCourse(course.courseName)">注册课程</button>
                </div>
            </div>
        </div>

        <div *ngIf="isAuthenticated()">
            <hr>
            <span>课程查询</span>
            <hr>
            <div><span><button (click)="getAllCoursesWithTN()">显示所有课程</button> <button (click)="clearAllCousesDTO()">折叠</button></span></div>
            <div *ngFor="let course of coursesWithTN" style="padding-bottom: 2px">
                <div style="display: flex; width: 100%; height: 40px; justify-content: space-between; border-top: 1px solid; border-bottom: 1px solid; border-left: 1px solid; border-right: 1px solid">
                    <div style="padding-left: 5px">{{course.courseName}}</div>
                    <div>{{course.courseLocation}}</div>
                    <div>{{course.courseContent}}</div>
                    <div>{{course.teacherName}}</div>
                    <button *jhiHasAnyAuthority="'ROLE_USER'" (click)="unRegisterCourse(course.courseName)">删除课程</button>
                    <button *jhiHasAnyAuthority="'ROLE_ADMIN'" (click)="deleteCourse(course.courseName)">取消课程</button>
                </div>
            </div>
        </div>

        <!--<div *ngIf="isAuthenticated()">-->
            <!--<hr>-->
            <!--<span>注册功能</span>-->
            <!--<hr>-->
            <!--<div><input [ngModel]= "classeNameNeedToReg" ]></div>-->
            <!--<div><span><button (click)="getAllCoursesWithTN()">注册课程</button> </span></div>-->
        <!--</div>-->

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <hr>
            <span>创建课程</span>
            <hr>
            <form (ngSubmit)="addCourse()">
                <div><label>课程名称：</label><input type="text" name="courseName" [(ngModel)]="courseName"></div>
                <div><label>课程地点：</label><input type="text" name="courseLocation" [(ngModel)]="courseLocation"></div>
                <div><label>课程内容：</label><input type="text" name="courseContent" [(ngModel)]="courseContent"></div>
                <div><label>课程教师：</label><input type="text" name="courseTeacher" [(ngModel)]="courseTeacher"></div>
                <button type="submit">创建</button>
            </form>
        </div>

    </div>
</div>
